# Dependencies
node_modules/

# Production build
dist/
build/

# Environment variables
.env
.env.*
!.env.example

# Database
*.sqlite
*.sqlite3
*.db
*.db-journal

# Testing & Coverage
coverage/
*.lcov

# Logs
*.log
logs/
npm-debug.log*

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
