# Dependencies
node_modules/

# Production build
dist/
build/

# Environment variables & Credentials
.env
.env.*
!.env.example
*.pem
*.key
keystore/
*keystore*.json
UTC--*

# Database
*.sqlite
*.sqlite3
*.db
*.db-journal

# Testing & Coverage
coverage/
*.lcov

# Logs
*.log
logs/
npm-debug.log*

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
